@font-face{
	font-family: font1;
	src: url(font/font1.ttf);
}
@font-face{
	font-family: font2;
	src: url(font/font2.ttf);
}
@font-face{
	font-family: font3;
	src: url(font/font3.ttf);
}
@font-face{
	font-family: font4;
	src: url(font/font4.ttf);
}
@font-face{
	font-family: font5;
	src: url(font/font5.ttf);
}
@font-face{
	font-family: font6;
	src: url(font/font6.ttf);
}
@font-face{
	font-family: font7;
	src: url(font/font7.ttf);
}
@font-face{
	font-family: font8;
	src: url(font/font8.ttf);
}
