*{
	background:none;
	font-size:2vmin;
	overflow:hidden;
	font-family: font4;
	cursor:default;
	transition: all 150ms ease-in-out;
	outline:0;
	border:0;
	-moz-user-select: none;
	 -khtml-user-select: none;
 	-webkit-user-select: none;
}
body{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgb(155,155,155);
}
::selection{
	background:rgb(0,230,190);
}
::-webkit-scrollbar {
	min-width:5px;
	min-height:5px;
	width: 1vmin;
	height: 1vmin;
}
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: rgba(0,230,190,.8);
	-webkit-box-shadow: inset 0 0 6px rgba(0,230,190,.8);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(150,255,200,.4);
}
::-webkit-scrollbar-corner{
	background: rgba(0,0,0,0);
}
.display, #reader, #toolBox, .reader{
	background:rgb(75,75,75);
	top:15%;
	height:80%;
	padding:.5%;
	box-sizing: border-box;
}
.display{
	overflow-y:scroll;
	position:absolute;
	left:5%;
	width:15%;
	border-radius:0 0 0 2vmin;
}
#reader, .reader, .inputField{
	position:absolute;
	left:30%;
	width:65%;
	border-radius:0 0 2vmin 0;
}
#reader input{
	position:absolute;
	text-align:center;
	width:100%;
	height:100%;
	color:rgb(90,90,90);
	font-size:7vw;
}
#toolBox{
	overflow-y:scroll;
	position:absolute;
	left:20%;
	width:10%;
}
#toolBox div{
	position:relative;
	float:top;
	margin:auto;
	margin-top:2.5%;
	border-radius:50%;
	width:5vw;
	height:5vw;
	background:rgba(0,230,200,.75);
}
#toolBox div:hover{
	background:rgb(0,230,200);
}
#toolBox div p{
	color:black;
	text-align:center;
	font-size:1vw;
}
#toolBox div img{
	filter:blur(1px);
	margin-top:20%;
	margin-left:20%;
}
.bar{
	position:absolute;
	top:5%;
	width:100%;
	height:10%;
	background:rgb(0,230,190);
	z-index:5;
}
.bar#bar1 input{
	position:absolute;
	left:4vmin;
}
.bar#bar1{
	overflow:visible;
	border-radius:2vmin 0 0 0;
	left:5%;
	width:15%;
}
.bar#bar2{
	left:20%;
	width:10%;
}
.bar#bar3{
	overflow:visible;
	border-radius:0 2vmin 0 0;
	left:30%;
	width:65%;
}
.folder, .file{
	position:relative;
	float:top;
	margin-top:2%;
	width:100%;
	height:4vmin;
	border-radius:2vmin;
}
.folder{
	background:rgba(0,230,200,.75);
}
.file{
	background:rgba(150,255,200,.75);
}
.folder:hover{
	background:rgb(0,230,190);
}
.file:hover{
	background:rgb(150,255,200);
}
.folder span, .file span{
	position:absolute;
	top:.25vmin;
	width:10vmin;
	height:10vmin;
	margin-left:2vmin;
	pointer-events:none;
	border:0;
	outline:none;
}
.folder span{
	background:url("img/folder.png");
	background-size:3.5vmin 3.5vmin;
	background-repeat:no-repeat;
}
.file span{
	background:url("img/file.png");
	background-size:3.5vmin 3.5vmin;
	background-repeat:no-repeat;
}
.folder l, .file l{
	position:absolute;
	margin-top:.75vmin;
	margin-left:7vmin;
	text-align:left;
	width:100%;
	height:100%;
	font-size:2.5vmin;
	pointer-events :none;
}
.reader{
	width:64%;
	height:80%;
	line-height:4vmin;
	overflow:auto;
	background:rgb(75,75,75);
	border:0;
	color:white;
	z-index:5;
	resize:none;
	outline:none;
	border-radius:0;
}
.bar div{
	position:absolute;
	right:3%;
	top:12.5%;
	height:75%;
}
.bar div button{
	background:rgb(75,75,75);
	color:white;
	outline:none;
	border:0;
	margin-left:2vmin;
	margin-top:-5vmin;
	border-radius:50%;
	width:10vmin;
	height:10vmin;
}
.bar div button:hover{
	background:rgb(150,255,200);
	color:rgb(75,75,75);
}
.bar input{
	position:absolute;
	top:25%;
	left:1%;
	width:60%;
	height:50%;
	background:rgba(0,0,0,0);
	font-size:4vmin;
	color:white;
}
.inputField{
	height:80%;
	top:15%;
	background:rgb(75,75,75);
}
::-webkit-input-placeholder{
	text-align:center;
	color:rgb(90,90,90);
}
.inputField input{
	background:white;
	position:absolute;
	top:50%;
	left:10%;
	width:80%;
	font-size:7vmin;
	border-radius:2vmin;
	padding-left:2vmin;
	padding-right:2vmin;
	text-align:center;
}
.alert{
	background:rgb(255,200,80) !important;
	color:black !important;
}
.alert:hover{
	background:rgb(255,140,0) !important;
}
#toolBox div:active, .bar div button:active, .display div:active, ::-webkit-scrollbar-thumb:active, .alert:active{
	background:rgb(255,255,200) !important;
	color:black !important;
}